.navbar-collapse{
    nav {

        ul.menu.navbar-nav {float: right;
            li {
                float: right;
            }
        }

    }
}
h1{
    color: purple;
}
h4{
    color: plum;
    text-align: center;
}
p{
    color: grey;
}